<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Highschool:</strong>
  <%= @user.highschool %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Views:</strong>
  <%= @user.views %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @user.likes %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', root_path %>
